@charset "UTF-8";

#Container-a {
    background-color: black;
    width: 40%;
    margin-top: 10px;
    padding-left: 12%;
    display: inline-block;
    text-align: justify;

}

#Container-b {
    background-color: black;
    width: 40%;
    text-align: center !important;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
}

#imagem-logo {
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
    margin-inline: -20px;
    text-align: center !important;
}

#Pirataria {
    margin-top: -25px;
}

#video {
    width: 50%; 
    position:relative
    background-repeat:no-repeat;
    background-size:90px 90px;
    background-position:center;
    padding-top:-50%;
}

#som {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 120%;
    padding-top: -10%;
}

#botão {
    width: 100%;
    max-width: 440px;
    padding: 20px 40px;
    background-color: #000000;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 17px 7px #FFFFFF;
}

#texto {
    color: #008000;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: 100px;
    text-decoration: inherit;
}

#botão a {
    text-decoration: none;

  }

#Este-site {
    padding-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 3%;
    font-size: 85%;
}

#título1 {
    margin-top: 50px;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 38px
}

#superior {
    font-family: "Roboto Condensed", Sans-serif;
}

#adress {
    font-family: "Roboto Condensed", Sans-serif;
}

#superior2 {
    font-family: "Roboto Condensed", Sans-serif;
}

#Container-c {
    list-style-type: none;
    margin-top: 50px;
    text-decoration: none;
    display: inline-block;
    width: 40%;
    margin-left: 80px;
    text-align: right;
    color: #000000;
    padding-bottom: 3%;
}

#Container-d {
    display: inline-block;
    list-style-type: none;
    margin-top: 50px;
    text-decoration: none;
    display: inline-block;
    width: 40%;
    padding-left: 5%;
    color: black;
    text-align: left;
    padding-bottom: 3%;
}

#Container-c a,
  #Container-d a {
    text-decoration: none;
    color: #ffffff;
  }

@media screen and (max-width: 768px){
    width: 100%;
    flex-direction: column;

}

#termos2 {
    display: inline-block;
    text-align: right;
    width: 49%;
    text-decoration: none !important;
    padding-top: 5%;
    padding-bottom: 5%;
}

#políticas2 {
    display: inline-block;
    text-align: left;
    width: 45%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: none !important;
}

#políticas2 a {
    text-decoration: none !important;
}

#termos2 a {
    text-decoration: none !important;
}
    





